@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: hsl(217, 54%, 11%);
  font-family: Outfit;
}

p {
  font-size: 15px;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}

#root {
  width: 100vw;
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 300px;
  padding: 25px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  z-index: 2;
}

#etherium-img {
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 15px;
  cursor: pointer;
  z-index: 5;
}

#etherium-img:hover {
  z-index: -10;
}

#etherium-view {
  position: absolute;
  top: 25px;
  left: 25px;
  padding: 101px;
  border-radius: 15px;
  background-color: hsla(178, 100%, 50%, 0.5);
  cursor: pointer;
}

#etherium-view:hover {
  z-index: 10;
}

#etherium-heading {
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

#etherium-heading:hover {
  color: hsl(178, 100%, 50%);
}

.flex,
.flex-para {
  display: flex;
  align-items: center;
}

.flex {
  justify-content: space-between;
}

.flex-para {
  justify-content: flex-start;
}

.etherium-icon {
  font-weight: 400;
  color: hsl(178, 100%, 50%);
}

.clock-icon {
  color: hsl(215, 51%, 70%);
  width: 20px;
  padding-right: 5px;
}

.eth-icon {
  width: 15px;
  padding-right: 5px;
}

#circle-img {
  width: 30px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 30px;
  margin-right: 10px;
}

.icons-div {
  padding-bottom: 10px;
  border-bottom: 1px solid hsl(215, 32%, 27%);
}

.name {
  padding-left: 5px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.name:hover {
  color: hsl(178, 100%, 50%);
}
